[submodule "resources/latex-handcalcs"]
	path = resources/latex-handcalcs
	url = https://github.com/connorferster/handcalcs.git
[submodule "resources/intellij-bazel"]
	path = resources/intellij-bazel
	url = https://github.com/bazelbuild/intellij.git
[submodule "resources/docker-jupyterhub"]
	path = resources/docker-jupyterhub
	url = https://github.com/RattyDAVE/docker-jupyterhub.git
[submodule "resources/bazel/bazel"]
	path = resources/bazel/bazel
	url = https://github.com/bazelbuild/bazel.git
[submodule "resources/justWrite"]
	path = resources/justWrite
	url = https://github.com/onblog/JustWrite.git
[submodule "resources/baidupcs-go"]
	path = resources/baidupcs-go
	url = https://github.com/qjfoidnh/BaiduPCS-Go.git
[submodule "resources/cmake-cookbook"]
	path = resources/cmake-cookbook
	url = https://github.com/dev-cafe/cmake-cookbook.git
