[submodule "resources/latex-handcalcs"]
	path = resources/latex-handcalcs
	url = https://github.com/connorferster/handcalcs.git
[submodule "resources/intellij-bazel"]
	path = make-tools-projects/intellij-bazel
	url = https://github.com/bazelbuild/intellij.git
[submodule "resources/docker-jupyterhub"]
	path = resources/docker-jupyterhub
	url = https://github.com/RattyDAVE/docker-jupyterhub.git
[submodule "resources/bazel/bazel"]
	path = make-tools-projects/bazel
	url = https://github.com/bazelbuild/bazel.git
[submodule "resources/justWrite"]
	path = resources/justWrite
	url = https://github.com/onblog/JustWrite.git
[submodule "resources/baidupcs-go"]
	path = resources/baidupcs-go
	url = https://github.com/qjfoidnh/BaiduPCS-Go.git
[submodule "resources/cmake-cookbook"]
	path = resources/cmake-cookbook
	url = https://github.com/dev-cafe/cmake-cookbook.git
[submodule "resources/meson"]
	path = resources/meson
	url = https://github.com/mesonbuild/meson.git
[submodule "resources/googlehosts"]
	path = resources/googlehosts
	url = https://github.com/googlehosts/hosts.git
[submodule "resources/vscode-meson"]
	path = resources/vscode-meson
	url = https://github.com/mesonbuild/vscode-meson.git
[submodule "resources/aliendao"]
	path = resources/aliendao
	url = https://github.com/git-cloner/aliendao
[submodule "resources/antlr4"]
	path = resources/antlr4
	url = https://github.com/antlr/antlr4.git
[submodule "resources/vagrant-k8s"]
	path = resources/vagrant-k8s
	url = https://github.com/techiescamp/vagrant-kubeadm-kubernetes.git
[submodule "resources/onlyoffice/documentserver"]
	path = resources/onlyoffice/documentserver
	url = https://github.com/ONLYOFFICE/Docker-DocumentServer.git
[submodule "resources/mkdocs/mkdocs"]
	path = resources/mkdocs/mkdocs
	url = https://github.com/mkdocs/mkdocs.git
[submodule "resources/mkdocs/mkdocs-plugins"]
	path = resources/mkdocs/mkdocs-plugins
	url = https://github.com/Neoteroi/mkdocs-plugins.git
[submodule "resources/mkdocs/mkdocs-material"]
	path = resources/mkdocs/mkdocs-material
	url = https://github.com/squidfunk/mkdocs-material.git
[submodule "resources/mkdocs/mkdocs-strings"]
	path = resources/mkdocs/mkdocs-strings
	url = https://github.com/mkdocstrings/mkdocstrings.git
[submodule "resources/mkdocs/mkdocs-include-plugin"]
	path = resources/mkdocs/mkdocs-include-plugin
	url = https://github.com/mondeja/mkdocs-include-markdown-plugin.git
[submodule "resources/mkdocs/mkdocs-monorepo-plugin"]
	path = resources/mkdocs/mkdocs-monorepo-plugin
	url = https://github.com/backstage/mkdocs-monorepo-plugin.git
[submodule "docs-tools-projects/AFFiNE"]
	path = docs-tools-projects/AFFiNE
	url = https://github.com/toeverything/AFFiNE.git
[submodule "docusaurus-projects/appcircle-docusaurus"]
	path = docusaurus-projects/appcircle-docusaurus
	url = https://github.com/appcircleio/appcircle-docusaurus.git
[submodule "charts-projects/apisix-helm-chart"]
	path = charts-projects/apisix-helm-chart
	url = https://github.com/apache/apisix-helm-chart.git
[submodule "charts-projects/elastic-charts"]
	path = charts-projects/elastic-charts
	url = https://github.com/elastic/elastic-charts.git
[submodule "charts-projects/helm-charts"]
	path = charts-projects/helm-charts
	url = https://github.com/grafana/helm-charts.git
[submodule "charts-projects/grafana"]
	path = charts-projects/grafana
	url = https://github.com/grafana/helm-charts.git
[submodule "charts-projects/keda"]
	path = charts-projects/keda
	url = https://github.com/kedacore/charts.git
[submodule "charts-projects/prometheus"]
	path = charts-projects/prometheus
	url = https://github.com/prometheus-community/helm-charts.git
[submodule "charts-projects/vault"]
	path = charts-projects/vault
	url = https://github.com/hashicorp/vault-helm.git
[submodule "docker-tools-projects/slim"]
	path = docker-tools-projects/slim
	url = https://github.com/slimtoolkit/slim.git
[submodule "docusaurus-projects/docusaurus-openapi-docs"]
	path = docusaurus-projects/docusaurus-openapi-docs
	url = https://github.com/PaloAltoNetworks/docusaurus-openapi-docs.git
[submodule "docusaurus-projects/dyte-io-docs"]
	path = docusaurus-projects/dyte-io-docs
	url = https://github.com/dyte-io/docs.git
[submodule "docusaurus-projects/ionic-docs"]
	path = docusaurus-projects/ionic-docs
	url = https://github.com/ionic-team/ionic-docs.git
[submodule "test-tools-projects/jest"]
	path = test-tools-projects/jest
	url = https://github.com/jestjs/jest.git
[submodule "install-tools-projects/k3s-ansible"]
	path = install-tools-projects/k3s-ansible
	url = https://github.com/timothystewart6/k3s-ansible.git
[submodule "install-tools-projects/k3s-ansible-2"]
	path = install-tools-projects/k3s-ansible-2
	url = https://github.com/timothystewart6/k3s-ansible.git
[submodule "k8s-tools-projects/kubespray-offline"]
	path = k8s-tools-projects/kubespray-offline
	url = https://github.com/kubespray-offline/kubespray-offline.git
[submodule "k8s-tools-projects/kubez-ansible"]
	path = k8s-tools-projects/kubez-ansible
	url = https://github.com/pixiu-io/kubez-ansible.git
[submodule "docusaurus-projects/lsfusion-docs"]
	path = docusaurus-projects/lsfusion-docs
	url = https://github.com/lsfusion/docusaurus.git
[submodule "docs-tools-projects/mkdocs-render-swagger-plugin"]
	path = docs-tools-projects/mkdocs-render-swagger-plugin
	url = https://github.com/bharel/mkdocs-render-swagger-plugin.git
[submodule "charts-projects/openfga"]
	path = charts-projects/openfga
	url = https://github.com/openfga/helm-charts.git
[submodule "embedded-tools-projects/openwrt"]
	path = embedded-tools-projects/openwrt
	url = https://github.com/openwrt/openwrt.git
